FLASK_PASSWORDLESS_API_KEY=<YOUR PUBLIC KEY HERE>
FLASK_PASSWORDLESS_API_SECRET=<YOUR SECRET KEY HERE>

# Optional - Self-host (defaults to https://v4.passwordless.dev)
# FLASK_PASSWORDLESS_API_URL=<SELF HOSTED PASSWORDLESS API URL HERE>