name: Release

on:
  release:
    types: [created]

jobs:
  publish:
    name: Publish
    environment: PyPI
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout Repo
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false

      - name: Install poetry
        run: pipx install poetry

      - name: Set up Python
        uses: actions/setup-python@0b93645e9fea7318ecaed2b359559ac225c90a2b # v5.3.0
        with:
          python-version: '3.9'
          cache: 'poetry'

      - name: Setup
        run: poetry env use 3.9

      - name: Environment information
        run: poetry env info
      - name: Build package
        run: poetry build
      - name: Publish - PyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
